html {
  scroll-behavior: smooth; }

body {
  background-color: #F6D155; }

* {
  transition: all .5s ease; }

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(57, 57, 57, 0.9);
  z-index: 5; }
  .overlay .owl-carousel {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; }
    .overlay .owl-carousel .card {
      border: none;
      background-color: transparent; }
      .overlay .owl-carousel .card img {
        width: 50% !important;
        height: 50%;
        margin: 0 auto; }
      .overlay .owl-carousel .card .close {
        position: absolute;
        top: 0;
        left: 0;
        width: 4rem;
        height: 4rem;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: #FF7E71;
        color: #393939; }
        .overlay .owl-carousel .card .close i {
          font-size: 3rem; }
        .overlay .owl-carousel .card .close:hover {
          background-color: #393939 !important;
          color: #FF7E71 !important; }
  .overlay .owl-nav .owl-prev, .overlay .owl-nav .owl-next {
    position: absolute;
    top: 40%;
    width: 4rem;
    height: 4rem;
    background-color: #FF7E71 !important;
    color: #393939 !important; }
    .overlay .owl-nav .owl-prev span, .overlay .owl-nav .owl-next span {
      line-height: 3rem;
      font-size: 5rem; }
    .overlay .owl-nav .owl-prev:hover, .overlay .owl-nav .owl-next:hover {
      background-color: #393939 !important;
      color: #FF7E71 !important; }
  .overlay .owl-nav .owl-prev {
    left: 15%; }
  .overlay .owl-nav .owl-next {
    right: 15%; }
  @media (max-width: 992px) {
    .overlay .owl-prev, .overlay .owl-next {
      width: 2rem !important;
      height: 2rem !important; }
      .overlay .owl-prev span, .overlay .owl-next span {
        line-height: 1.3rem !important;
        font-size: 2rem !important; }
    .overlay .close {
      width: 2rem !important;
      height: 2rem !important; }
      .overlay .close i {
        font-size: 2rem !important; } }
  @media (max-width: 600px) {
    .overlay .owl-prev, .overlay .owl-next {
      display: none !important; } }

.container .sideMenu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: #393939;
  margin-right: 3rem; }
  .container .sideMenu img {
    width: 100%; }
  .container .sideMenu .directories {
    margin-bottom: auto; }
    .container .sideMenu .directories .dirct {
      display: flex;
      padding: 0 5%;
      align-items: center;
      border-bottom: .05rem solid grey;
      cursor: pointer; }
      .container .sideMenu .directories .dirct:hover {
        box-shadow: 1px 2px white; }
    .container .sideMenu .directories .dirct:first-of-type {
      padding-top: 0.4rem; }
    .container .sideMenu .directories .dirct:last-of-type {
      border: none; }
    .container .sideMenu .directories h6 {
      color: white;
      margin-right: auto;
      font-size: .7rem;
      margin-top: 0.3rem; }
    .container .sideMenu .directories i {
      color: #FF7E71;
      font-size: 0.6rem; }
  .container .sideMenu .links {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem; }
    .container .sideMenu .links i {
      background-color: #FF7E71;
      height: 2rem;
      width: 2rem;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      cursor: pointer;
      color: #393939;
      border-radius: rem; }
      .container .sideMenu .links i:hover {
        background-color: white;
        color: #FF7E71; }

@media (max-width: 992px) {
  .container {
    max-width: 100%; }

  .main {
    width: 90% !important; }

  .sideMenu {
    width: 4rem !important; }
    .sideMenu img {
      display: none; }
    .sideMenu .dirct {
      border-bottom: none !important;
      margin-bottom: 2rem;
      margin-right: auto; }
      .sideMenu .dirct i {
        font-size: 1.5rem !important;
        margin: 0 auto; }
      .sideMenu .dirct h6 {
        display: none; }
    .sideMenu .dirct:first-of-type {
      margin-top: 2rem; }
    .sideMenu .links {
      display: none !important; } }
@media (max-width: 768px) {
  .sideMenu {
    display: none !important; }

  .main {
    width: 100% !important; }

  .main nav {
    display: flex !important; } }
.main {
  width: 78%;
  margin-left: auto; }
  .main .top-bottom {
    position: fixed;
    top: 0;
    background-color: #F6D155;
    height: 2rem;
    width: 100%;
    z-index: 3; }
  .main nav {
    display: none;
    background-color: #393939 !important; }
    .main nav .navbar-toggler i {
      color: white; }
    .main nav .navbar-brand img {
      width: 40px;
      height: 40px;
      border-radius: 50%; }
    .main nav .dirct {
      display: flex;
      padding: 0 5%;
      align-items: center;
      border-bottom: .05rem solid grey;
      cursor: pointer;
      border: none !important; }
      .main nav .dirct:hover {
        box-shadow: 1px 2px white; }
      .main nav .dirct h6 {
        color: white;
        margin-right: auto;
        font-size: .7rem;
        margin-top: 0.3rem; }
      .main nav .dirct i {
        color: #FF7E71;
        font-size: 0.6rem; }
  .main .home {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white;
    margin-left: auto; }
    .main .home .txt {
      margin-left: 3rem; }
      .main .home .txt h6 {
        color: #FF7E71; }
      .main .home .txt h3 {
        font-size: 3rem; }
    .main .home img {
      margin-left: auto;
      height: 100%; }
    @media (max-width: 400px) {
      .main .home .txt {
        margin-left: 1rem;
        margin-right: 0; }
      .main .home img {
        max-width: 50%; } }
  .main .applications {
    display: flex; }
    .main .applications .applicant {
      width: 50%;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      cursor: pointer; }
      .main .applications .applicant i {
        margin-right: 1rem; }
    .main .applications .applicant:first-of-type {
      color: #FF7E71;
      background-color: #393939; }
      .main .applications .applicant:first-of-type:hover {
        animation: bounceInRight 1s ease-in-out; }
    .main .applications .applicant:last-of-type {
      background-color: #FF7E71 !important;
      color: #393939 !important; }
  .main .about {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .about h3 {
      font-size: 3rem; }
    .main .about .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .about .info {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      margin-bottom: 2rem; }
      .main .about .info img {
        width: 40%;
        margin-right: 2rem; }
      .main .about .info p {
        font-size: 13px; }
      .main .about .info button {
        cursor: pointer;
        font-size: 1.5rem;
        background-color: #FF7E71 !important;
        color: #393939 !important;
        border: #FF7E71 solid 1px; }
        .main .about .info button:hover {
          background-color: #393939 !important;
          color: #FF7E71 !important; }
    .main .about .parameters {
      display: grid;
      width: 100%;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr; }
      .main .about .parameters .parameter {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-auto-rows: auto auto;
        margin-bottom: 1rem; }
        .main .about .parameters .parameter h4:first-of-type {
          grid-column: 1/2; }
        .main .about .parameters .parameter h4:last-of-type {
          grid-column: 4/span 1;
          margin-left: auto; }
        .main .about .parameters .parameter div {
          grid-column: 1/span 4;
          border: 0.1rem solid #FF7E71;
          height: .5rem; }
          .main .about .parameters .parameter div div {
            height: 100%;
            background-color: #FF7E71; }
      .main .about .parameters [data-aos="example-anim1"] {
        width: 0 !important;
        transition-property: all; }
      .main .about .parameters .parameter:first-of-type .aos-animate {
        width: 85% !important; }
      .main .about .parameters .parameter:nth-of-type(2) .aos-animate {
        width: 75% !important; }
      .main .about .parameters .parameter:nth-of-type(3) .aos-animate {
        width: 90% !important; }
      .main .about .parameters .parameter:last-of-type .aos-animate {
        width: 95% !important; }
    @media (max-width: 768px) {
      .main .about .parameters {
        grid-template-columns: auto !important; } }
  .main .education {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .education h3 {
      font-size: 3rem; }
    .main .education .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .education .many {
      display: grid;
      width: 100%;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr; }
      .main .education .many .single {
        padding: 1rem;
        border-left: #FF7E71 0.2rem solid; }
        .main .education .many .single:nth-of-type(3) {
          border-top: #FF7E71 0.2rem solid; }
        .main .education .many .single:last-of-type {
          border-top: #FF7E71 0.2rem solid; }
        .main .education .many .single .span {
          position: relative;
          left: -1.5rem;
          top: 1rem;
          height: .8rem;
          width: .8rem;
          border-radius: 50%;
          background-color: #FF7E71; }
        .main .education .many .single h5 {
          font-size: 13px;
          letter-spacing: 1px; }
        .main .education .many .single span {
          color: #FF7E71; }
    @media (max-width: 768px) {
      .main .education .many {
        grid-template-columns: auto !important; }
      .main .education .single:first-of-type {
        border-bottom: #FF7E71 0.2rem solid; } }
  .main .experience {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .experience h3 {
      font-size: 3rem; }
    .main .experience .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .experience .many {
      display: grid;
      width: 100%;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr; }
      .main .experience .many .single {
        padding: 1rem;
        border-left: #FF7E71 0.2rem solid; }
        .main .experience .many .single:nth-of-type(3) {
          border-top: #FF7E71 0.2rem solid; }
        .main .experience .many .single:last-of-type {
          border-top: #FF7E71 0.2rem solid; }
        .main .experience .many .single .span {
          position: relative;
          left: -1.5rem;
          top: 1rem;
          height: .8rem;
          width: .8rem;
          border-radius: 50%;
          background-color: #FF7E71; }
        .main .experience .many .single h5 {
          font-size: 13px;
          letter-spacing: 1px; }
        .main .experience .many .single span {
          color: #FF7E71; }
    @media (max-width: 768px) {
      .main .experience .many {
        grid-template-columns: auto !important; }
      .main .experience .single:first-of-type {
        border-bottom: #FF7E71 0.2rem solid; } }
  .main .services {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .services h3 {
      font-size: 3rem; }
    .main .services .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .services .many {
      display: grid;
      width: 100%;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr; }
      .main .services .many .single {
        padding: 1rem;
        border-left: #FF7E71 0.2rem solid; }
        .main .services .many .single:nth-of-type(3) {
          border-top: #FF7E71 0.2rem solid; }
        .main .services .many .single:last-of-type {
          border-top: #FF7E71 0.2rem solid; }
        .main .services .many .single .span {
          position: relative;
          left: -1.5rem;
          top: 1rem;
          height: .8rem;
          width: .8rem;
          border-radius: 50%;
          background-color: #FF7E71; }
        .main .services .many .single h5 {
          font-size: 13px;
          letter-spacing: 1px; }
        .main .services .many .single span {
          color: #FF7E71; }
    @media (max-width: 768px) {
      .main .services .many {
        grid-template-columns: auto !important; }
      .main .services .single:first-of-type {
        border-bottom: #FF7E71 0.2rem solid; } }
    .main .services i {
      color: #FF7E71;
      font-size: 2rem;
      margin-bottom: 1rem; }
  .main .portofolio {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .portofolio h3 {
      font-size: 3rem; }
    .main .portofolio .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .portofolio .many {
      display: grid;
      width: 100%;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr; }
      .main .portofolio .many .single {
        padding: 1rem;
        border-left: #FF7E71 0.2rem solid; }
        .main .portofolio .many .single:nth-of-type(3) {
          border-top: #FF7E71 0.2rem solid; }
        .main .portofolio .many .single:last-of-type {
          border-top: #FF7E71 0.2rem solid; }
        .main .portofolio .many .single .span {
          position: relative;
          left: -1.5rem;
          top: 1rem;
          height: .8rem;
          width: .8rem;
          border-radius: 50%;
          background-color: #FF7E71; }
        .main .portofolio .many .single h5 {
          font-size: 13px;
          letter-spacing: 1px; }
        .main .portofolio .many .single span {
          color: #FF7E71; }
    @media (max-width: 768px) {
      .main .portofolio .many {
        grid-template-columns: auto !important; }
      .main .portofolio .single:first-of-type {
        border-bottom: #FF7E71 0.2rem solid; } }
    .main .portofolio .btns {
      margin-bottom: 2rem;
      display: flex; }
      .main .portofolio .btns button {
        background-color: transparent;
        border: #FF7E71 solid 1px;
        color: black;
        margin: 0;
        cursor: pointer; }
        .main .portofolio .btns button:hover {
          background-color: #FF7E71; }
      .main .portofolio .btns button:first-of-type, .main .portofolio .btns button:nth-of-type(2), .main .portofolio .btns button:nth-of-type(3) {
        border-right-width: 0; }
    .main .portofolio .tiles {
      display: grid;
      width: 100%;
      grid-gap: 3rem;
      grid-template-columns: auto auto auto; }
      .main .portofolio .tiles .tile {
        position: relative; }
        .main .portofolio .tiles .tile:hover .details {
          height: 30%;
          opacity: 1; }
        .main .portofolio .tiles .tile:hover .right {
          right: 25%;
          opacity: 1; }
        .main .portofolio .tiles .tile:hover .left {
          left: 25%;
          opacity: 1; }
        .main .portofolio .tiles .tile img {
          background-size: cover;
          max-width: 100%;
          height: 100%; }
        .main .portofolio .tiles .tile .right {
          background-color: #ff7e71;
          opacity: 0;
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 25%;
          right: 0%;
          cursor: pointer;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important; }
          .main .portofolio .tiles .tile .right:hover {
            background-color: #393939 !important;
            color: #FF7E71 !important;
            color: #FF7E71; }
        .main .portofolio .tiles .tile .left {
          background-color: #ff7e71;
          opacity: 0;
          width: 3rem;
          height: 3rem;
          position: absolute;
          top: 25%;
          left: 0;
          cursor: pointer;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important; }
          .main .portofolio .tiles .tile .left:hover {
            background-color: #393939 !important;
            color: #FF7E71 !important;
            color: #FF7E71; }
        .main .portofolio .tiles .tile .details {
          background-color: rgba(255, 126, 113, 0.4);
          text-align: center;
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 0%;
          bottom: 0;
          left: 0; }
      @media (max-width: 992px) {
        .main .portofolio .tiles {
          grid-template-columns: auto auto !important; } }
      @media (max-width: 500px) {
        .main .portofolio .tiles {
          grid-template-columns: auto !important; } }
  .main .review {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .review h3 {
      font-size: 3rem; }
    .main .review .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .review .many {
      display: grid;
      width: 100%;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr; }
      .main .review .many .single {
        padding: 1rem;
        border-left: #FF7E71 0.2rem solid; }
        .main .review .many .single:nth-of-type(3) {
          border-top: #FF7E71 0.2rem solid; }
        .main .review .many .single:last-of-type {
          border-top: #FF7E71 0.2rem solid; }
        .main .review .many .single .span {
          position: relative;
          left: -1.5rem;
          top: 1rem;
          height: .8rem;
          width: .8rem;
          border-radius: 50%;
          background-color: #FF7E71; }
        .main .review .many .single h5 {
          font-size: 13px;
          letter-spacing: 1px; }
        .main .review .many .single span {
          color: #FF7E71; }
    @media (max-width: 768px) {
      .main .review .many {
        grid-template-columns: auto !important; }
      .main .review .single:first-of-type {
        border-bottom: #FF7E71 0.2rem solid; } }
    .main .review .client {
      display: flex; }
      .main .review .client img {
        width: 5rem;
        height: 5rem;
        margin-right: .5rem; }
      .main .review .client h3 {
        font-size: 1.4rem; }
      .main .review .client h5 {
        font-size: 0.7rem; }
      .main .review .client .owl-dots {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important; }
        .main .review .client .owl-dots .owl-dot {
          height: 2rem !important;
          width: 2rem !important;
          background-color: transparent !important;
          border: solid 1 px #FF7E71 !important;
          border-radius: 50% !important; }
  .main .contact {
    background-color: white;
    margin-top: 2rem;
    padding: 4rem 2rem; }
    .main .contact h3 {
      font-size: 3rem; }
    .main .contact .underH4 {
      height: .2REM;
      width: 10%;
      background-color: #FF7E71;
      margin-bottom: 2rem; }
    .main .contact .form {
      display: grid;
      grid-template-columns: auto auto; }
      .main .contact .form .many:first-of-type {
        padding-top: 3rem; }
        .main .contact .form .many:first-of-type .single {
          display: flex;
          align-items: center;
          text-align: left; }
          .main .contact .form .many:first-of-type .single i {
            color: #FF7E71;
            margin-right: 1rem;
            float: left; }
          .main .contact .form .many:first-of-type .single h3 {
            font-size: 1.4rem; }
          .main .contact .form .many:first-of-type .single:last-of-type i {
            background-color: #FF7E71;
            height: 2rem;
            width: 2rem;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            cursor: pointer;
            color: #393939;
            border-radius: rem;
            margin-top: 1rem; }
            .main .contact .form .many:first-of-type .single:last-of-type i:hover {
              background-color: white;
              color: #FF7E71; }
            .main .contact .form .many:first-of-type .single:last-of-type i:hover {
              background-color: #393939; }
      .main .contact .form .many:last-of-type {
        margin-top: 3rem;
        display: grid;
        grid-auto-rows: 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem;
        grid-template-columns: auto auto;
        grid-gap: 1rem; }
        .main .contact .form .many:last-of-type input:first-of-type {
          grid-area: 1/1/2/2; }
        .main .contact .form .many:last-of-type input:nth-of-type(2) {
          grid-area: 1/2/2/2; }
        .main .contact .form .many:last-of-type input:nth-of-type(3) {
          grid-area: 2/1/3/3; }
        .main .contact .form .many:last-of-type textarea {
          grid-area: 3/1/6/3;
          resize: none; }
      .main .contact .form .many button {
        background-color: #FF7E71 !important;
        color: #393939 !important;
        cursor: pointer;
        padding: 1rem .5rem;
        line-height: .2rem; }
        .main .contact .form .many button:hover {
          background-color: #393939 !important;
          color: #FF7E71 !important; }
      @media (max-width: 768px) {
        .main .contact .form {
          grid-template-columns: auto; }
          .main .contact .form .many:last-of-type {
            grid-template-columns: auto;
            grid-auto-rows: 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem 1.4rem; }
            .main .contact .form .many:last-of-type input:first-of-type {
              grid-area: 1/1/2/2; }
            .main .contact .form .many:last-of-type input:nth-of-type(2) {
              grid-area: 2/1/3/2; }
            .main .contact .form .many:last-of-type input:last-of-type {
              grid-area: 3/1/4/2; }
            .main .contact .form .many:last-of-type textarea {
              grid-area: 4/1/9/2; }
            .main .contact .form .many:last-of-type button {
              grid-area: 9/1/10/1;
              width: 30%; } }
  .main .bottom-top {
    position: fixed;
    bottom: 0;
    background-color: #F6D155;
    height: 2rem;
    width: 100%;
    z-index: 3; }

.fa-angle-double-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  animation: ups 2s infinite;
  display: none; }
  .fa-angle-double-up:hover {
    color: #FF7E71; }

@keyframes ups {
  0% {
    bottom: 2rem; }
  50% {
    bottom: 4rem; }
  100% {
    bottom: 2rem; } }

/*# sourceMappingURL=style.css.map */
